@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');

.configurationBlock {
    color: #12c867;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    font-family: 'Archivo';
    font-size: 1em;
    border: 6px solid #12c867;
    border-radius: 4px;
    background-color: #091119;    

    h3 {
        text-align: center;
        font-family: 'Archivo';
        font-size: 2em;
    }
    div{
        flex-direction: column;
    }
    p {
        margin: 0;
        padding-left: 2vw;
    }
    input {
        color: #d0d0d0;
        margin: 0;
        margin-left: 1vw;
        background: transparent;
        border: none;
        border-bottom: 3px solid #9c9c9c;
        border-radius: 0px;
        height: 45px;
    }
    select {
        border: 0px;
    }

    #preset {
        font-family: 'Archivo';
        font-size: 1rem;
        color: #d0d0d0;
        padding: 5px;
        padding-left: 1.2vw;
        margin-left: 2vw;
        margin-bottom: 16px;
        background: transparent;
        border-bottom: 3px solid #9c9c9c;
        border-radius: 0px;
        -webkit-appearance: none;
        background-color: #122333;
        
        option {
            font-family: 'Archivo';
            font-size: 1rem;
            background-color: #122333;
            border-radius: 0px;
            height: 80px;
        }
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
}